a,
p,
ul,
li {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
}

.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    display: flex;
    position: relative;
    align-items: center;
    background-color: #f2f2f2;
    /* выше установили ограничения для секции */
}

.logo {
    height: 32px;
    width: 183px;
}

.logo_place_header {
    position: absolute;
    left: 64px;
    top: 30px;
    z-index: 2;
}

.header__title {
    width: 730px;
}

.header__title_position {
    font-size: 102px;
    line-height: 96px;
    margin-left: 64px;
    font-weight: bold;
    z-index: 2;
}

.header__subtitle {
    width: 388px;
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
}

.header__subtitle_position {
    position: absolute;
    left: 64px;
    bottom: 30px;
    z-index: 2;
}

.header__link {
    color: #2f80ed;
    text-decoration: none;
}

.header__main-illustration {
    background-size: cover;
    width: 765px;
    height: 608px;
}

.header__main-illustration_position {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.header__square-pic {
    height: 568px;
    width: 568px;
    background-color: #2f80ed;
}

.header__square-pic_position {
    position: absolute;
    right: 0;
    top: 64px;
    z-index: 0;
}

.content {
    display: flex;
    flex-direction: column;
}

.description {
    width: 80%;
    margin: 100px auto;
}

.two-columns {
    display: flex;
    justify-content: space-between;
}

.two-columns__brief {
    width: 175px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    color: #2f80ed;
    margin: 0;
}

.two-columns__min-text {
    width: 80%;
    min-width: 784px;
    display: flex;
    flex-direction: column;
}

.two-columns__paragraph {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 30px;
}

.two-columns__paragraph:last-child {
    margin-bottom: 0;
}

.two-columns__span-accent {
    line-height: 34px;
    font-size: 24px;
    font-weight: bold;
}

.digits {
    margin: auto;
}

.section-title {
    width: 60%;
    margin: 100px auto 20px;
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

.section-subtitle {
    width: 60%;
    margin: 0 auto;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}

.table {
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.table__cell {
    width: 250px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.table__heading {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 0;
}

.table__text {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 20px;
}

.feynman {
    position: relative;
    min-height: 890px;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
}

.feynman__title {
    z-index: 3;
    width: 648px;
    margin: 100px auto 0;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    text-align: center;
}

.feynman__subtitle {
    z-index: 3;
    margin: 70px auto 0;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-align: center;
}

.feynman__link {
    z-index: 2;
    position: absolute;
    top: 50%;
    right: 48px;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    color: #2f80ed;
    text-decoration: none;
}

.feynman__image {
    z-index: 1;
    width: 867px;
    height: 637px;
    background-size: cover;
    position: absolute;
    left: 0;
    bottom: 0;
}

.kaufman {
    background-color: #1f1f1f;
    background-size: cover;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.section-title_theme_dark {
    color: white;
    margin: 90px auto 0;
    z-index: 3;
}

.section-subtitle_theme_dark {
    color: white;
    margin: 20px auto 0;
    z-index: 3;
}

.table_theme_dark {
    margin: 0 auto 90px;
    z-index: 2;
}

.table__cell_theme_dark {
    width: 200px;
    margin-right: 0;
    margin-top: 80px;
}

.table__heading_theme_dark {
    color: white;
}

.table__text_theme_dark {
    color: white;
}

.kaufman__triangle {
    width: 877px;
    height: 877px;
    background-image: url('./../images/kaufman-triangle.svg');
    background-size: cover;
    z-index: 0;
    position: absolute;
    top: 0;
    right: -210px;
}

.footer {
    background-color: #1f1f1f;
    background-size: cover;
    display: flex;
    min-height: 350px;
}

.footer__column {
    position: relative;
    margin: 60px auto 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%
}

.footer__column_content_copyright {
    flex-basis: 711px;
    display: flex;
    flex-direction: column;
}

.logo_place_footer {
    width: 183px;
    height: 35px;
    margin-top: 0;
    margin-left: 0;
}

.footer__author {
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    margin-top: 18px;
    position: absolute;
    left: 0;
    bottom: 18px;
    color: white;
}

.footer__column_content_info {
    display: flex;
    flex-direction: column;
    justify-items: baseline;
}

.footer__column-heading {
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: white;
}

.footer__column-links {
    margin-bottom: 16px;
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__column_content_social {
    display: flex;
    flex-direction: column;
}

.footer__social-icon {
    list-style-type: none;
    width: 16px;
    height: 16px;
    background-size: cover;
}

.footer__column-link {
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    color: white;
    height: 10px;
}
